:root {
  --header-bg-colour: #007B67;
  --header-colour: #FFFFFF;
  --accessibility-bg-colour: #37394B;
  --main-bg-colour: #247C86;
  --form-bg-colour: #FFFFFF;
  --form-colour: #1A1A1A;
  --input-bg-colour: #EEEEEE;
  --input-bottom-border: #DDDDDD;
  --button-bg-colour: #006252;
  --input-invalid-colour: #FF0000;
}

@font-face {
  font-family: 'FONTSPRING DEMO - Gibson Book';
  src: url('typeface/FONTSPRINGDEMO-GibsonBookRegular.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FONTSPRING DEMO - Gibson';
  src: url('typeface/FONTSPRINGDEMO-GibsonBoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'FONTSPRING DEMO - Gibson';
  src: url('typeface/FONTSPRINGDEMO-GibsonBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FONTSPRING DEMO - Gibson Book';
  src: url('typeface/FONTSPRINGDEMO-GibsonBookItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'FONTSPRING DEMO - Gibson';
  src: url('typeface/FONTSPRINGDEMO-GibsonItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'FONTSPRING DEMO - Gibson';
  src: url('typeface/FONTSPRINGDEMO-GibsonHeavyItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'FONTSPRING DEMO - Gibson';
  src: url('typeface/FONTSPRINGDEMO-GibsonRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FONTSPRING DEMO - Gibson';
  src: url('typeface/FONTSPRINGDEMO-GibsonLightLightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'FONTSPRING DEMO - Gibson';
  src: url('typeface/FONTSPRINGDEMO-GibsonThinRegular.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FONTSPRING DEMO - Gibson';
  src: url('typeface/FONTSPRINGDEMO-GibsonLightRegular.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FONTSPRING DEMO - Gibson';
  src: url('typeface/FONTSPRINGDEMO-GibsonMediumRegular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FONTSPRING DEMO - Gibson';
  src: url('typeface/FONTSPRINGDEMO-GibsonThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'FONTSPRING DEMO - Gibson';
  src: url('typeface/FONTSPRINGDEMO-GibsonMediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'FONTSPRING DEMO - Gibson';
  src: url('typeface/FONTSPRINGDEMO-GibsonHeavyRegular.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FONTSPRING DEMO - Gibson';
  src: url('typeface/FONTSPRINGDEMO-GibsonSemiboldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'FONTSPRING DEMO - Gibson';
  src: url('typeface/FONTSPRINGDEMO-GibsonSemiboldRegular.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}




html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}


html {
  font-size: 100%;
  body{
    font-family: 'FONTSPRING DEMO - Gibson', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    header {
      display: flex;
      flex-direction: column;
      background-color: var(--header-bg-colour);
      color: var(--header-colour);
      z-index: 1;
      #accessibility_options {
        display: flex;
        flex-direction: row;
        background-color: var(--accessibility-bg-colour);
        align-items: center;
        justify-content: space-between;
        #accessibility_elements {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 1rem 2rem;
          font-size: 0.9rem;
          a {
            color: var(--header-colour);
            text-decoration: none;
            display: flex;
            align-items: center;
            margin: 0 2rem 0 0;
          }
          svg {
            margin: 0 0.5rem 0 0;
          }
          button {
            background: none;
            border: none;
            outline: none;
            cursor: pointer;
            color: var(--header-colour);
            font-size: 0.9rem;
            a {
              color: var(--header-colour);
              text-decoration: none;
              display: flex;
              align-items: center;
              margin: 0 2rem 0 0;
            }
            svg {
              margin: 0 0.5rem 0 0;
            }
          }
        }
        #language_switcher {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0.25rem 2rem;
          button {
            background-color: transparent;
            border: none;
            padding: 0.5rem 1rem;
            border-radius: 1rem;
            color: var(--header-colour);
            cursor: pointer;
            margin: 0 0.5rem;
            font-size: 1rem;
            &:hover {
              background-color: rgba(0, 0, 0, 0.2);
            }
            &.active {
              background-color: rgba(0, 0, 0, 0.3);
            }
          }
        }
      }
      nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem 2rem;
        justify-content: space-between;
        #logo {
          display: flex;
          flex-direction: row;
          svg {
            margin: 0 1rem 0 0;
          }
          div {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            justify-content: end;
            font-size: 1.2rem;
          }
        }
        div {
          display: flex;
          flex-direction: row;
          ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 0.9rem;
            li {
              display: flex;
              flex-direction: row;
              align-items: center;
              &:not(:last-child) {
                margin: 0 1.5rem 0 0;
              }
              a {
                display: flex;
                flex-direction: row;
                align-items: center;
                color: var(--header-colour);
                text-decoration: none;
                svg {
                  margin: 0 0.5rem 0 0;
                }
              }
            }
          }
          form {
            display: flex;
            flex-direction: row;
            align-items: center;
            label {
              position: relative;
              & > .icon {
                position: absolute;
                top: 50%;
                left: 10px;
                transform: translateY(-50%);
                color: white;
              }
              > input {
                padding-left: calc(1em + 10px + 8px); /* icon width + icon padding-left + desired separation*/
                height: 2em;
                border: none;
                background-color: var(--header-bg-colour);
                font-size: 1.2rem;
                color: var(--header-colour);
                outline: none;
                width: 10rem;
                &::placeholder {
                  color: var(--header-colour);
                }
              }
            }
          }
          button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
            padding: 0.5rem 1rem;
            border: 1px solid var(--header-colour);
            color: var(--header-colour);
            border-radius: 0.75rem;
            background-color: var(--button-bg-colour);
            svg {
              margin: 0 0.5rem 0 0;
            }
          }
        }
      }
    }
    main {
      background-color: var(--main-bg-colour);
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--header-colour);
      padding: 3rem 0 0 0;
      position: relative;
      overflow: hidden;
      > div {
        max-width: 1024px;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr;
        .hero {
          h1 {
            font-size: 3.5rem;
            margin: 0 0 2rem 0;
          }
          p {
            margin: 0 0 1rem 0;
          }
          ul {
            li {
              padding: 0.75rem 0 0.75rem 3rem;
              font-size: 1.2rem;
              font-weight: bold;
              background: url(data:image/svg+xml,%3Csvg%20width%3D%2236%22%20height%3D%2236%22%20viewBox%3D%220%200%2036%2036%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M18%2033C26.2843%2033%2033%2026.2843%2033%2018C33%209.71573%2026.2843%203%2018%203C9.71573%203%203%209.71573%203%2018C3%2026.2843%209.71573%2033%2018%2033ZM25.5001%2015.6213C26.0859%2015.0355%2026.0859%2014.0858%2025.5001%2013.5C24.9144%2012.9142%2023.9646%2012.9142%2023.3788%2013.5L15.5242%2021.3546L12.0784%2017.3345C11.5392%2016.7055%2010.5923%2016.6326%209.96329%2017.1718C9.3343%2017.7109%209.26146%2018.6578%209.8006%2019.2868L14.3006%2024.5368C14.5725%2024.8541%2014.9644%2025.0435%2015.3819%2025.0595C15.7994%2025.0756%2016.2047%2024.9167%2016.5001%2024.6213L25.5001%2015.6213Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E) no-repeat left center;
            }
          }
        }
        #form-container {
          display: flex;
          flex-direction: column;
          padding: 2rem;
          background-color: var(--form-bg-colour);
          color: var(--form-colour);
          border-radius: 1rem;
          margin: 0 0 4rem 0;
          z-index: 1;
          h2 {
            margin: 0 0 1rem 0;
          }
          p {
            margin: 0 0 1.5rem 0;
          }
          button[type="submit"] {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
            padding: 0.5rem 1rem;
            border: none;
            color: var(--header-colour);
            border-radius: 0.75rem;
            background-color: var(--button-bg-colour);
            width: 100%;
            margin: 0.5rem 0 1rem 0;
          }
          #alternative {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            p {
              margin: 0 0.5rem 0 0;
            }
            a {
              font-weight: bold;
              color: var(--button-bg-colour);
            }
          }
        }
      }
      &:after {
        content: "";
        width: 1830px;
        height: 1749px;
        background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20%20%20width%3D%221830.0024%22%20%20%20height%3D%221749.0007%22%20%20%20viewBox%3D%220%200%201830.0024%201749.0007%22%20%20%20fill%3D%22none%22%20%20%20version%3D%221.1%22%20%20%20id%3D%22svg1%22%20%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20%20%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20%20%20%20%20style%3D%22fill%3A%23ffffff%3Bfill-opacity%3A0.2%22%20%20%20%20%20d%3D%22M%20735.95115%2C5.0928116e-6%20C%20548.38415%2C5.0928116e-6%20396.6459%2C151.24763%20396.2949%2C338.64062%20c%200%2C187.393%20151.38713%2C338.9908%20338.95313%2C339.3418%20187.566%2C0%20339.30217%2C-151.24567%20339.66217%2C-338.63867%20C%201075.2602%2C151.95055%20923.51715%2C5.0928116e-6%20735.95115%2C5.0928116e-6%20Z%20M%20735.6035%2C56.492195%20c%20156.505%2C0%20282.5%2C125.994995%20282.5%2C282.499995%200%2C156.505%20-125.995%2C282.5%20-282.5%2C282.5%20-156.505%2C0%20-282.5%2C-125.995%20-282.5%2C-282.5%200%2C-156.505%20125.995%2C-282.499995%20282.5%2C-282.499995%20z%22%20%2F%3E%3Cpath%20%20%20%20%20style%3D%22fill%3A%23ffffff%3Bfill-opacity%3A0.2%22%20%20%20%20%20d%3D%22m%201813.93%2C734.83278%20-38.64%2C-38.602%20c%20-128.9%2C-129.139%20-243.76%2C-189.147%20-360.38%2C-189.147%20-116.61%2C0%20-231.12%2C60.008%20-361.08%2C188.446%20L%20734.89798%2C1014.1678%20498.85898%2C777.99578%20c%20-81.138%2C-81.063%20-212.504%2C-81.063%20-293.643%2C0%20l%20-144.362405%2C145.282%20c%20-81.1381%2C81.06402%20-81.1381%2C212.30902%200%2C293.37302%20l%20375.483405%2C375.14%20c%20105.375%2C105.27%20201.968%2C157.21%20298.912%2C157.21%2096.944%2C0%20194.24%2C-52.64%20299.26102%2C-157.21%20l%20649.11%2C-648.86102%20130.31%2C-130.192%20c%2021.43%2C-21.407%2021.43%2C-56.148%200%2C-77.554%20z%20m%20-170.71%2C167.741%20-649.45302%2C648.85702%20c%20-185.81%2C185.99%20-330.875%2C185.99%20-517.036%2C0%20l%20-296.804%2C-296.88%20c%2051.984%2C28.07%20109.94%2C43.51%20168.95%2C44.22%2024.938%2C0%2049.877%2C-2.81%2074.464%2C-8.08%2099.754%2C-21.05%20201.968%2C-84.92%20311.908%2C-194.407%20L%201095.28%2C737.28878%20c%20117.31%2C-117.559%20219.18%2C-171.952%20319.63%2C-171.952%20100.46%2C0%20200.92%2C53.691%20319.99%2C171.952%20l%2037.23%2C35.093%20z%20M%20142.34298%2C1164.0118%20c%20-20.372%2C-14.388%20-74.113205%2C-62.465%20-76.571905%2C-109.839%200%2C-4.562%200%2C-51.586%2063.575905%2C-115.80502%20l%20116.614%2C-119.314%20c%2057.956%2C-58.253%20152.09%2C-58.253%20210.046%2C-0.701%200%2C0%200.351%2C0.35%200.703%2C0.701%20l%20236.038%2C236.17202%20c%20-205.48%2C204.935%20-376.537%2C238.625%20-552.161%2C109.137%20h%201.756%20z%22%20%20%20%20%20id%3D%22path1%22%20%2F%3E%3C%2Fsvg%3E");
        top: -207.3px;
        left: 296px;
        position: absolute;
        z-index: 0;
        pointer-events: none;
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  html{
    body {
      header {
        nav {
          flex-direction: column;
        }
      }
    }
  }
}

@media only screen and (max-width: 1025px) {
  html {
    body {
      header {
        nav {
          div {
            flex-direction: column;
            ul {
              margin: 0.5rem 0 0 0;
            }
            form {
              label {
                width: 100%;
                > input {
                  width: 100%;
                }
              }
            }
          }
        }
      }
      main {
        > div {
          grid-template-columns: 1fr;
          max-width: 600px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  html {
    body {
      header {
        #accessibility_options {
          flex-direction: column;
        }
        nav {
          div {
            flex-direction: column;

            ul {
              margin: 0.5rem 0 0 0;
              flex-direction: column;

              li {
                &:not(:last-child) {
                  margin: 0 0 0.5rem 0;
                }

                margin: 0 0 0.5rem 0;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  html {
    body {
      header {
        #accessibility_options {
          flex-direction: column;

          #accessibility_elements {
            flex-direction: column;

            a {
              margin: 0 0 1rem 0;
            }
          }
        }
      }
    }
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 0 0 1.25rem 0;
  background-color: var(--input-bg-colour);
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0.5rem;
  border-bottom: 2px solid var(--input-bottom-border);
  font-size: 1rem;
  label {
    font-size: 0.75rem;
    margin: 0 0 0.5rem 0;
  }
  input, select {
    border: none;
    background-color: var(--input-bg-colour);
    font-size: 1rem;
  }
}