:root {
  --header-bg-colour: #007B67;
  --header-colour: #FFFFFF;
  --accessibility-bg-colour: #37394B;
  --main-bg-colour: #247C86;
}
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}



body{
  font-family: Gibson, Arial, Helvetica, sans-serif;
  header {
    display: flex;
    flex-direction: column;
    background-color: var(--header-bg-colour);
    color: var(--header-colour);
    #accessibility_options {
      display: flex;
      flex-direction: row;
      background-color: var(--accessibility-bg-colour);
      align-items: center;
      justify-content: space-between;
      #accessibility_elements {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem 2rem;
        font-size: 0.9rem;
        a {
          color: var(--header-colour);
          text-decoration: none;
          display: flex;
          align-items: center;
          margin: 0 2rem 0 0;
        }
        svg {
          margin: 0 0.5rem 0 0;
        }

      }
      #language_switcher {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.25rem 2rem;
        button {
          background-color: transparent;
          border: none;
          padding: 0.5rem 1rem;
          border-radius: 1rem;
          color: var(--header-colour);
          cursor: pointer;
          margin: 0 0.5rem;
          font-size: 1rem;
          &:hover {
            background-color: rgba(0, 0, 0, 0.2);
          }
          &.active {
            background-color: rgba(0, 0, 0, 0.3);
          }
        }
      }
    }
    nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1rem 2rem;
      justify-content: space-between;
      #logo {
        display: flex;
        flex-direction: row;
        svg {
          margin: 0 1rem 0 0;
        }
        div {
          display: flex;
          flex-direction: column;
          align-items: baseline;
          justify-content: end;
          font-size: 1.2rem;
        }
      }
      div {
        display: flex;
        flex-direction: row;
        ul {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          grid-gap: 1rem;
          align-items: center;
          font-size: 0.9rem;
          li {
            display: flex;
            flex-direction: row;
            align-items: center;
            a {
              display: flex;
              flex-direction: row;
              align-items: center;
              color: var(--header-colour);
              text-decoration: none;
              svg {
                margin: 0 0.5rem 0 0;
              }
            }
          }
        }
        form {
          display: flex;
          flex-direction: row;
          align-items: center;
          label {
            position: relative;
            & > .icon {
              position: absolute;
              top: 50%;
              left: 10px;
              transform: translateY(-50%);
              color: white;
            }
            > input {
              padding-left: calc(1em + 10px + 8px); /* icon width + icon padding-left + desired separation*/
              height: 2em;
              border: none;
              background-color: var(--header-bg-colour);
              font-size: 1.2rem;
              color: var(--header-colour);
              outline: none;
              width: 10rem;
              &::placeholder {
                color: var(--header-colour);
              }
            }
          }
        }
        button {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          font-size: 1.2rem;
          padding: 0.5rem 1rem;
          border: 1px solid var(--header-colour);
          color: var(--header-colour);
          border-radius: 0.75rem;
          background-color: #006252;
          svg {
            margin: 0 0.5rem 0 0;
          }
        }
      }
    }
  }
  main {

  }
}

@media only screen and (max-width: 768px) {
  body{
    header {
      #accessibility_options {
        flex-direction: column;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  body{
    header {
      #accessibility_options {
        flex-direction: column;
        #accessibility_elements {
          flex-direction: column;
          a {
            margin: 0 0 1rem 0;
          }
        }
      }
    }
  }
}